In [4]:
from pyspark.sql import SparkSession

spark = SparkSession.builder \
    .master('local[*]') \
    .appName("Iniciando com Spark") \
    .getOrCreate()

In [5]:
spark

In [6]:
data = [('Zeca','35'),('Eva', '29')]
colNames = ['Name','Idade']
df = spark.createDataFrame(data, colNames)

In [9]:
df.toPandas()

   Name Idade
0  Zeca    35
1   Eva    29